
coverage
build/Release
# Dependency directories
node_modules/


worker/node_modules/

jspm_packages/
# Snowpack dependency directory (https://snowpack.dev/)
web_modules/
# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dotenv environment variable files
.env

#build outputs
out
dist

